body {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 0.5em;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	border-bottom: 1px dashed #DDDDDD;
}

td {
	white-space: nowrap;
	padding: 1px 0 1px 2px;
	line-height: 14px;
	font-weight: bold;
	font-size: 1.1em;
}

th {
	padding: 2px 0 2px 2px;
	text-align: left;
	font-weight: normal;
	font-size: 1.1em;
}

th.cd-title {
	font-size: 1.5em;
	font-weight: bold;
}

th.cd-version {
	text-align: right;
	padding-right: 2px;
}

td.index {
	width: 1em;
}

td.title {
	width: 6.5cm;
}

td.bpm {
	width: 1.1em;
}

td.key {
	width: 1.2em;
}

td.flags {
	width: 1em;
}

td.comment {
	width: 100%;
}

thead > tr {
	background-color: #000;
	color: #FFF;
}

tbody > tr:nth-child(even) {
	background-color: #EEEEEE;
}

span.artist, span.artist-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: bottom;
	word-break: break-all;
}

span.artist {
	max-width: 2.5cm;
	/*font-weight: normal;*/
}

span.artist-title {
	width: 6.5cm;
	/*font-weight: bold;*/
}

div.cuthere {
	border-style: dashed;
	border-width: 1px;
	border-color: #DDDDDD;
	width: 11.6cm;
	height: 11.6cm;
	display: block;
	overflow: hidden;
	position: relative;
	margin-bottom: 1cm;
}
